@layer reset, base, tokens, recipes, utilities;

@import url("./fonts.css");
@import url("./editor/fonts.css");
@import url("./effects.css");

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

html,
body {
  scrollbar-gutter: stable;
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: url("/cursors/default.png"), auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  max-width: 100%;
  overscroll-behavior: contain;
  background-color: var(--bg);
  color: var(--text);
}

.CursorPointer {
  cursor: url("/cursors/pointer.png"), pointer;
}
.CursorDefault {
  cursor: url("/cursors/default.png"), auto;
}

/* ✅ Scroll siempre con espacio, pero invisible por defecto */
*::-webkit-scrollbar {
  width: 3.7px;
  height: 3.7px;
  background: var(--bg); /* invisible pero mantiene espacio */
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent; /* no se ve por defecto */
  border-radius: 99px;
}

*:hover::-webkit-scrollbar-thumb {
  background: var(--bar); /* aparece al hover */
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--bg);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.bar {
  max-height: fit-content;
}

.tool-stroke-active {
  svg {
    stroke: white;
  }
}

/* ✅ THEME LIGHT / DARK AUTOMÁTICO */
:root {
  --bg: #ffffff;
  --text: #000000;
  --bar: #121212;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --text: #f5f5f5;
    --bar: #f5f5f5;
  }
}
